* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: wheat;
}

main {
    margin:0 auto;
    width: 80%;
    padding: 20px;
    margin-top: 30px;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.header {
    background-color: white;
    width: 100%;
    padding: 20px;
}

.title {
    font-size: 3em;
}

.bottoms {
    margin-bottom: 2px;
    background-color: white;
    padding: 20px;
}

.bottom {
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.bottom.left {
    background-color: #47adf1;
    color: white;
    border: 0;
}

.bottom.right {
    background-color: white;
    color: #e0e4e6;
    border: 1px solid #e0e4e6;
}

.main-section {
    background-color: white;
    padding: 20px;
}

/* .triangle {
    font-size: 20px;
    vertical-align: middle;
} */

 .task-title::before {
    position:relative;
    top: 20px;
    content: "\1F893";
    font-size: 40px;
} 

.task-title {
    margin-bottom: 10px;
}

.check {
    padding: 2px;
    border: 2px solid #98d6c8;
    border-radius: 50%;
    color: #98d6c8;
}

.edit {
    background-color: #45abea;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
}
